.heading{
    display:flex;
}

.heading button {
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
}

.heading_name, .heading_population, .heading_area, .heading_gini {
    flex: 1;
    padding: 20px;
    color: var(--text-color-secondary);
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading_name {
    justify-content: flex-start;
}
.heading_arrow {
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.row {
    display: flex;
    text-align: center;
    background-color: var(--background-color-light);
    border-radius: 8px;
    margin-bottom: 16px;
    box-shadow: var(--box-shadow);
    font-weight: 500;
    transition: all 200ms ease-in-out;
    cursor: pointer;
}
.row:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}
.name {
    flex: 1;
    text-align: left;
    padding: 20px 10px;
}

.area, .gini, .population {
    flex: 1;
    padding: 20px 10px;    
}